<body>

  <bbva-core-demo-helper events='["link-click", "card-click"]' breakpoints='{
    "mobile": {"width": 320, "height": 580, "name": "Mobile"},
    "tablet": {"width": 768, "height": 1024, "name": "Tablet"},
    "desktop": {"width": 1024, "height": 768, "name": "Desktop"}' available-ambients='[]' resolution="desktop">
    
    <bbva-core-demo-case heading="Default" description="Row that displays the array 'infoRow' given">
      <template>

        <row-group></row-group>

      </template>
    </bbva-core-demo-case>
    
  </bbva-core-demo-helper>

</body>
