
<body>

  <bbva-core-demo-helper events='["card-click", "link-click"]' breakpoints='{
    "mobile": {"width": 320, "height": 580, "name": "Mobile"},
    "tablet": {"width": 768, "height": 1024, "name": "Tablet"},
    "desktop": {"width": 1024, "height": 768, "name": "Desktop"}' resolution="desktop">
    
    <bbva-core-demo-case heading="Default" description="Main view that contains the data">
      <template>

        <cells-table-view></cells-table-view> 

      </template>
    </bbva-core-demo-case>
  </bbva-core-demo-helper>

</body>
